/* DATEI: format.css */
body{
	margin: 0;
	font-family: 'Bebas Neue', cursive;
	font-weight: 500;
	font-size: 20px;
}
.arabic{
	font-family: 'Cairo', sans-serif;
	font-size: 20px;
}
.english{
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
}
a{
	text-decoration: none;
	color: black;
}
footer{
	background: black;
	color: white;
	height: 100%;
}
iframe{
	width: 80%;
	height: 500px;
	border: 0;
	margin: 0px 10%;
}
/* index */
.language{
	margin-top: 50px;
	width: 100%;
	text-align: center;
	font-size:30px;
}
.link_index{
	width: 50%;
	margin: auto;
}
.link_index:hover{
	text-decoration: underline;
	background-color: #aaaaaa;
}
.flags{
	height: 30px;
	margin-left: 15px;
	margin-right: 15px;
	display: block;
	margin: auto;
}
.logo_start{
	height: 200px;
	display: block;
	margin: auto;
	margin-top: 100px;
}
/* navbar */
.navbar{
	display: flex;
	flex-wrap: nowrap;
	height: 70px;
}
.logo{
	flex: 6;
	margin: auto;
}
.logo_img{
	height: 60px;
	width: auto;
	position: static;
	margin-left: 10px;
	margin-top: 5px;
}
.logo_img2{
	height: 60px;
	margin: auto;
	display: none;
}
.link{
	flex: 2;
	padding: 25px;
	text-align: center;
}
.link:hover{
	text-decoration: underline;
	background: #aaaaaa;
}
.language_index{
	flex: 0.1;
	padding: 25px;
	text-align: center;
}
.language_index:hover{
	text-decoration: underline;
	background: #aaaaaa;
}
.nobr{
	display: none;
}
/* start */
.start{
	text-align: center;
	width: 100%;
	height: 300px;
	position: absolute;
	margin-top: 17.5%;
}
.start_img{
	width: 100%;
	height: 750px;
	object-fit: cover;
	overflow: hidden;
	object-position: 100% 0%;
}

/* contact */
.contact{
	margin-top: 150px;
	height: 400px;
	text-align: center;
	width: 100%;
}
.contact_info{
	font-family: 'IBM Plex Mono', monospace;
}
/* personal */
.angestellte{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.angestellte_text{
	width: 40%;
	margin: auto;
	text-align: center;
}
.emp_img_div{
	width: 60%;
	height: 550px;
	overflow: hidden;
}
.emp_img{
	height: 100%;
	width: 100%; 
	object-fit: cover;
	object-position: 90% 10%;
}
/* projects */
.facebook{
	width: 500px;
	border-radius: 20px;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	display: block;
}
/* footer */
.footer{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
}
.footer_link{
	color: white;
}
.footer_link:hover{
	text-decoration: underline;
}
.Impressum{
	margin-left: 5%;
	margin-top: 10px;
	margin-bottom: 50px;
}
.social{
	height: 70px;
	object-fit: contain;
	display: flex;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	justify-content: space-evenly;
}
.social_img{
	object-fit: contain;
	height: 40px;
}

@media only screen and (max-width: 750px){
	.start_img{
		width: 250%;
		height: auto;
		overflow: hidden;
	}
	.logo{
		display: none;
	}
	.logo_img2{
		display: block;
	}
	.angestellte_text{
		width: 100%;
		margin: auto;
		text-align: center;
		order: 1;
	}
	.emp_img_div{
		width: 100%;
		height: 550px;
		overflow: hidden;
	}

}